<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || '/assets/user.png'}}" alt="{{member.username}}"
                class="card-img-top img-thumbnail" />
            <div class="card-body">
                {{member.age}}, {{member.gender | titlecase}}
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <tabset>
            <tab heading="About {{member.username | titlecase}}" id="tab1">
                Looking for:<br /> {{member.lookingFor}}
            </tab>
            <tab heading="Photos">
                <carousel>
                    <slide *ngFor="let photo of member.photos">
                        <img src="{{photo.photoUrl}}" alt="{{photo.photoUrl}}" style="display: block; width: 100%;" />
                    </slide>
                </carousel>

            </tab>
        </tabset>
    </div>
</div>